section.conhecimentos {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8rem 0;

    @media (max-width: 990px) {
        padding: 5.25rem 0;
    }

    img.blur {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%;
        opacity: 0.7;
        z-index: -1;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 2rem;
        
        .top {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.75rem;

            h4 {
                font-weight: 400;
                color: #448EEB;

                span {
                    font-family: 'Inter', sans-serif;
                }
            }

            h2 {
                font-weight: 500;
                color: #fefefe;
            }

            p {
                font-weight: 400;
                color: #959BAD;

                span {
                    color: #448EEB;
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: flex-start;
            gap: 3rem;

            @media (max-width: 960px) {
                flex-direction: column;
            }

            .left {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 1rem;
                max-width: 32rem;

                @media (max-width: 960px) {
                    max-width: 100%;
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 7rem;
                    height: 7rem;
                    border-radius: 10px;
                    border: 1px solid rgba(149, 155, 173, 0.25);
                    backdrop-filter: blur(50px);
                    /* background: linear-gradient(225deg, #1B2138 0%, #1b213840 100%); */
                    font-size: 16px;
                    transition: all 0.2s;

                    img {
                        width: 3.5rem;
                        transition: all 0.2s;
                    }

                    &:hover {
                        border: 1px solid #959BAD;
                    }

                    @media (max-width: 960px) {
                        width: calc(16.6% - 1rem);
                    }

                    @media (max-width: 769px) {
                        width: calc(25% - 1rem);
                    }

                    @media (max-width: 550px) {
                        width: calc(25% - 1rem);
                        height: 5rem;

                        img {
                            width: 2.3rem;
                        }
                    }

                    @media (max-width: 400px) {
                        width: calc(33% - 1rem);
                    }
                }
            }

            .right {
                width: 50%;

                @media (max-width: 960px) {
                    width: 100%;
                }

                h3 {
                    font-size: 24px;
                    font-weight: 400;
                    color: #fefefe; 
                }

                h4 {
                    font-weight: 400;
                    margin: 1rem 0;

                    &.avancado {
                        color: #448EEB;
                    }

                    &.intermediario {
                        color: #e2e216;
                    }
                }

                p {
                    font-weight: 400;
                    color: #959BAD;
                }
            }
        }
    }
}