section.conhecimentos {
    width: 100%;
    padding: 5rem 15%;
    display: flex;
    align-items: center;

    @media (max-width: 1350px) {
        padding: 5rem 4rem;
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        
        .top {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.75rem;

            @media (max-width: 1350px) {
                width: 100%;
            }

            h4 {
                font-size: 16px;
                font-weight: 400;
                color: #448EEB;
            }

            h2 {
                font-size: 32px;
                font-weight: 400;
                color: #fefefe;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: #959BAD;

                span {
                    color: #448EEB;
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: flex-start;
            gap: 7%;

            @media (max-width: 1063px) {
                flex-direction: column;
                gap: 2rem;
            }

            .left {
                display: flex;
                width: 60%;
                flex-wrap: wrap;
                gap: 1rem;

                @media (max-width: 1063px) {
                    width: 100%;
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1.5rem;
                    border-radius: 10px;
                    border: 1px solid rgba(149, 155, 173, 0.25);
                    background: linear-gradient(225deg, #1B2138 0%, #1b213840 100%);
                    font-size: 16px;
                    transition: all 0.2s;

                    img {
                        width: 3.5rem;
                    }

                    &:hover {
                        border: 1px solid #959BAD;
                    }
                }
            }

            .right {
                width: 50%;

                @media (max-width: 1063px) {
                    width: 100%;
                }

                h3 {
                    font-size: 24px;
                    font-weight: 400;
                    color: #fefefe; 
                }

                h4 {
                    font-size: 16px;
                    font-weight: 400;
                    margin: 1rem 0;

                    &.avancado {
                        color: #448EEB;
                    }

                    &.intermediario {
                        color: #e2e216;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #959BAD;
                }
            }
        }
    }
}