section.sobremim {
    width: 100%;
    height: 100vh;
    padding: 5rem 0;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        .top {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 0.75rem;

            @media (max-width: 1350px) {
                width: 100%;
            }

            h4 {
                font-size: 16px;
                font-weight: 400;
                color: #448EEB;
            }

            h2 {
                font-size: 32px;
                font-weight: 400;
                color: #fefefe;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: #959BAD;

                span {
                    color: #448EEB;
                }
            }
        }

        .bottom {
            width: 100%;

            .box {
                background: linear-gradient(225deg, #1B2138 0%, #1b213840 100%);
                border: 1px solid #959bad40;
                border-radius: 10px;
                padding: 5rem;
            }
        }
    }
}