section.sobremim {
    width: 100%;
    padding: 8rem 0;
    display: flex;
    align-items: center;

    @media (max-width: 990px) {
        padding: 5.25rem 0;
    }

    img.blur {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%;
        opacity: 0.7;
        z-index: -1;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        .top {
            display: flex;
            flex-direction: column;
            width: 60%;
            gap: 0.75rem;

            @media (max-width: 1350px) {
                width: 100%;
            }

            h4 {
                font-weight: 400;
                color: #448EEB;

                span {
                    font-family: 'Inter', sans-serif;
                }
            }

            h2 {
                font-weight: 400;
                color: #fefefe;
            }

            p {
                font-weight: 400;
                color: #959BAD;

                span {
                    color: #448EEB;
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 2rem;

            @media (max-width: 890px) {
                flex-direction: column;
                gap: 1rem;
            }

            .box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.5rem;
                width: 50%;
                height: 20rem;
                background: linear-gradient(225deg, #1B2138 0%, #1b213840 100%);
                border: 1px solid #959bad40;
                border-radius: 10px;
                padding: 0 2rem;
                transition: all 0.2s ease;

                @media (max-width: 890px) {
                    width: 100%;
                }

                @media (max-width: 450px) {
                    height: auto;
                    padding: 2rem 1rem;
                }

                &.one {
                    &:hover {
                        border: 1px solid #50F4E8;
                       
                    }
                }

                &.two {
                    &:hover {
                        border: 1px solid #ff4d94;
                        
                    }
                }

                .logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    img {
                        width: 4rem;

                        @media (max-width: 450px) {
                            width: 2.5rem;
                        }
                    }
                }

                .texts {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    width: 100%;
                    text-align: center;

                    h1 {
                        color: #fefefe;
                        font-size: 30px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;

                        &.trabalho {
                            color: #50F4E8;
                        }

                        &.faculdade {
                            color: #ff4d94;
                        }
                    }

                    h5 {
                        color: #fefefe;
                        font-size: 14px;
                        font-weight: 300;
                    }

                    @media (max-width: 470px) {
                        h1 {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}