@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import 'partials/header/_header.scss';
@import 'partials/header/active-header';
@import 'partials/header/menu-lateral';
@import 'partials/main/home';
@import 'partials/main/sobremim';
@import 'partials/main/projetos';
@import 'partials/main/conhecimentos';
@import 'partials/main/contato';
@import 'partials/footer/footer';

@import 'pages/single-projeto';
@import 'pages/thanks';

@import 'components/slick';
@import 'components/modal';

::-webkit-scrollbar {
    width: 4px;
}
  
::-webkit-scrollbar-track {
    background: #0F1527;
}
  
::-webkit-scrollbar-thumb {
    background-color: #448EEB;
}

::selection {
    background-color: #dadada11;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #0F1527;
}

.container {
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    position: relative;
}

a {
    text-decoration: none !important;
}

h3 {
    font-size: 22px !important;
}

input, button, textarea, h4, p, .projetos a {
    font-size: 16px !important;
}

h2 {
    font-size: 28px !important;
}

@media (max-width: 769px) {
    header h1, .menu-lateral h1 {
        font-size: 18px !important;
    }
}

@media (max-width: 569px) {
    .home h1 {
        font-size: 42px !important;
    }
}

@media (max-width: 450px) {
    .home h1 {
        font-size: 36px !important;
    }
    
    input, button, textarea, h4, p, .projetos a {
        font-size: 14px !important;
    }
}

.none {
    display: none !important;
}