@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

::selection {
    background: #1d1e2050;
    color: #FEFEFE;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: #08090a;
    margin: 0 !important;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.25rem;
    position: relative;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #08090a;
}
  
::-webkit-scrollbar-thumb {
    background-color: #FEFEFE;
}

.none {
    display: none !important;
}
  