#background-full {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #00000090;
    display: flex;
    justify-content: center;
    align-items: center;
    --animate-duration: 300ms;
}

.modal-infos {
    width: 40rem;
    background: #0F1527;
    backdrop-filter: blur(100px);
    border: 1px solid #959bad40;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    box-shadow: 0 0 50px #000;
    border-radius: 4px;
    z-index: 999999999;
    --animate-duration: 300ms;

    .header {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: 500px) {
            gap: 0.5rem;
        }

        .top {
            display: flex;
            justify-content: space-between;

            div {
                width: 3rem;
            }

            span {
                width: 3rem;
                
                img {
                    width: 2.5rem;
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                background: none;
                border-radius: 4px;
                border: 1px solid #959bad00;
                margin-top: -1rem;
                margin-right: -1rem;
                cursor: pointer;
                transition: all 0.3s;

                svg {
                    width: 1.75rem;
                    height: 1.75rem;
                    transition: all 0.3s;
    
                    path {
                        transition: all 0.3s;
                    }
                }

                &:hover {
                    background: #959bad15;
                    border: 1px solid #959badd0;
    
                    svg {
                        path {
                            stroke: #fefefe;
                        }
                    }
                }
            }
        }

        .bottom {
            h1 {
                text-align: center;
                color: #fefefe;
                font-size: 32px;
                font-weight: 500;

                @media (max-width: 500px) {
                    font-size: 28px !important;
                }
            }

            p {
                text-align: center;
                color: #959bad;
                font-weight: 400;
                margin-top: 0.25rem;

                @media (max-width: 500px) {
                    font-size: 14px !important;
                }
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;

        @media (max-width: 500px) {
            margin-top: 1.5rem;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;

            @media (max-width: 500px) {
                flex-direction: row;
                justify-content: space-between;
                gap: 0;
            }
        }
        
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 3.5rem;
            flex-shrink: 0;
            border-radius: 10px;
            border: 1px solid #959bad40;
            backdrop-filter: blur(100px);
            background: none;
            /* background: linear-gradient(225deg, #1B2138 0%, #1b213840 100%); */
            gap: 0.5rem;
            transition: all 0.2s;
            cursor: pointer;

            h4 {
                font-weight: 400;
                color: #fefefe;
            }

            img {
                width: 24px;
                height: 24px;
            }

            &:hover {
                width: 95%;
                border: 1px solid #959BAD;
            }

            @media (max-width: 500px) {
                width: calc(50% - 0.5rem);

                &:hover {
                    width: calc(50% - 0.5rem);
                }
            }

            &.download {
                background: radial-gradient(circle, #0264df 0%, #448eeb 100%);
                text-transform: uppercase;
                box-shadow: 0 0 4px #00000040;
                border-radius: 10px;
                border: none;
                color: #fefefe;
                border: 2px solid #fefefe00;
                cursor: pointer;

                h4 {
                    font-weight: 700;
                }

                &:hover {
                    width: 95%;
                    border: 2px solid #fefefe;
                    box-shadow: 0 0 20px #0264df;
                }

                @media (max-width: 500px) {
                    width: 100%;
                }
            }
        }
    }
}

.layer {
    z-index: -1 !important;
}