.slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    display: flex;
    gap: 1rem;

    @media (max-width: 480px) {
        gap: 0 !important;
    }
}

.slick-slide {
    float: left;
    min-height: 1px;
    display: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin-top: 20px;
    list-style: none;
}

.slick-dots li {
    list-style-type: none;
}

.slick-dots li button {
    width: 12px;
    height: 12px;
    border: 1px solid #959BAD40;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    outline: none;
    font-size: 0 !important;
    background: linear-gradient(225deg, #1B2138 0%, #1b213840 100%);
}

.slick-dots li.slick-active button {
    background: #1B2138;
    border: 1px solid #fefefe;
}

/* Estilize os botões Next e Prev */
.slick-prev,
.slick-next {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: linear-gradient(225deg, #1B2138 0%, #1b213840 100%);
    border: 1px solid #959bad40;
    --animate-duration: 400ms;
    cursor: pointer;
    transition: all 0.1s ease;

    @media (max-width: 768px) {
        display: none;
    }

    img {
        width: 1.5rem;
    }

    &:hover {
        border: 1px solid #959BAD;
    }
}

.rotate {
    transform: rotate(180deg);
}