.menu-lateral {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100% !important;
    display: flex;
    backdrop-filter: blur(50px);
    background: none;
    /* background: #0f1527e5; */
    box-shadow: 0 0 1px #959badd0;
    z-index: 99999;
    transition: all 0.5s;
    
    &.closed {
        right: 0 !important;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5rem;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 5rem;

            .logo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
        
                h1 {
                    font-size: 20px;
                    font-weight: 500;
                    color: #fefefe;
                    cursor: pointer;
                    transition: all 0.5s;
        
                    span {
                        color: #448EEB;
                        transition: all 0.5s;
                    }
        
                    &:hover {
                        color: #448EEB;
        
                        span {
                            color: #fefefe;
                        }
                    }
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                border: none;
                padding: 0.5rem;
                cursor: pointer;
                border: 1px solid #959bad00;
                border-radius: 2px;
                transition: all 0.2s;

                svg {
                    g {
                        transition: all 0.2s;
                    }
                }

                &:hover {
                    color: #fefefe;
                    background: #959bad15;
                    border: 1px solid #959badd0;

                    svg {
                        g {
                            fill: #fefefe;
                        }
                    }
                }
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            a {
                font-size: 20px;
                font-weight: 400;
                color: #959BAD;
                border-radius: 6px;
                text-decoration: none;
                text-align: center;
                padding: 0.5rem 1rem;
                border: 1px solid #959bad00;
                transition: all 0.3s;
                cursor: pointer;

                &.selected {
                    color: #fefefe;
                }

                &:hover {
                    color: #fefefe;
                    background: #959bad15;
                    border: 1px solid #959badd0;
                }
            }
        }
   }
}